<div class="modal" tabindex="-1" role="dialog" #modal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{header}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngIf="message">{{message}}</p>
        <p *ngIf="!message">{{header}}</p>
      </div>
      <div class="modal-footer">
        <button *ngIf="actionLabel && actionCallback" type="button" class="btn btn-primary" (click)="action()">{{actionLabel}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
