<h1>Test Assignment: Address book</h1>

<p>Checkpoints:</p>
<ul>
  <li>project scaffolding and organization</li>
  <li>naming conventions</li>
  <li>best practices (Dependency Injection, DRY, Design Patterns etc.)</li>
  <li>use of external libraries</li>
</ul>

<p>
  This assignment requires the realization of the web application "Address book". The application must be
  able to view, search, create, update and delete contacts. The contact information must include:
</p>
<ul>
  <li>first name</li>
  <li>last name</li>
  <li>address</li>
  <li>telephone number</li>
</ul>

<p>
  It should be possible to search each data separately (this should be done on the backend).
  Validation must check if all data is entered and that phone number does not already exsist in database.
  The application should be composed of two parts, backend and frontend.
</p>

<h2>Backend</h2>
<p>Elements:</p>
<ul>
  <li>database access layer</li>
  <li>data validation</li>
  <li>REST API (using standard HTTP status codes)</li>
</ul>
<p>Required technologies/tools:</p>
<ul>
  <li>.NET / C#</li>
  <li>MS SQL Server or PostgreSQL</li>
  <li>.NET Core</li>
  <li>EntityFramework or NHibernate (ORM)</li>
</ul>

<h2>Frontend</h2>
<p>Requirements:</p>
<ul>
  <li>List view with (serverside) search and pagination.</li>
  <li>View of a single contact with all contact's information.</li>
  <li>Create / Update with validation (all fields required).</li>
  <li>Deleting – user must confirm delete (modal).</li>
  <li>Serverside errors should be displayed to user (modal).</li>
</ul>
<p>Required technologies/tools:</p>
<ul>
  <li>Angular</li>
  <li>Bootstrap</li>
</ul>
