<!-- item -->
<div class="row">
  <div class="col col-12">

    <h1>Reset contacts</h1>

    <!-- alerts -->
    <div *ngIf="status.actionSuccess" class="alert alert-success" role="alert">Data reset was successful.</div>
    <div *ngIf="status.actionError" class="alert alert-danger" role="alert">Failed to reset data.</div>

    <p>Reset will delete all existing data and import sample values.</p>

    <!-- reset submit -->
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group mr-2" role="group">
        <button *ngIf="!status.loading" class="btn btn-danger" (click)="confirmReset()">Confirm reset</button>
        <button *ngIf="status.loading" class="btn btn-danger" type="button" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
      </div>
    </div>

  </div>
</div>

<!-- error modal -->
<app-modal-window modalId="admin-reset-modal" [header]="serverErrorTitle" [message]="serverErrorResponse" #modal></app-modal-window>

<!-- confirm modal -->
<app-modal-window *ngIf="item" modalId="contact-delete-modal-confirm" header="Reset contacts" message="Are you sure?" (actionCallback)="action()" actionLabel="Reset" #modalconfirm></app-modal-window>
